.nav.nav--primary
  .nav__container
    = link_to "Latin Learning Hub", root_path, class: "nav__title"
    %ul.nav__list
      %li.nav__text &#124;
      - if user_signed_in?
        %li.nav__text
          = precede "Logged in as " do
            %strong#display_name= current_user
        %li.nav__item= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "nav__link"
      - elsif !user_signed_in?
        %li.nav__item= link_to "Log In", new_user_session_path, :class => "nav__link"
        %li.nav__item= link_to "Sign Up", new_user_registration_path, :class => "nav__link"
