.mdc-layout-grid
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-12
      %h1= @book.book_number
      %ul
        - @sections.each do |section|
          %li= link_to section.identifier, "/authors/#{@author.short_name.downcase}/#{@text.title.downcase.gsub(' ', '-')}/#{@book.book_number}/#{section.identifier.to_s.downcase.gsub(' ', '-')}"
